# Python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
.venv

# Environment
.env

# Generated audio
audio/
*.mp3
speech_script.txt
filelist.txt

# Old files
readme.md
combine_audio.sh
speech.txt
voice_*.mp3
